@font-face { font-family: 'NanumGothic';src: url('/fonts/NanumGothic.eot');src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff');}

*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'NanumGothic', 'serif';
}


main{
    min-height: 1080px;
    width: 1920px;

    display: flex;
    flex-direction: column;

    padding: 0px 20%;
}

hr{
    border : 1px solid #151615;
}




/*************************************************
                입소신청 내역 (관리자) Intro
*************************************************/
.adminIntroArea{
    flex-basis: 30%;
    padding-left : 13%;
    border : 2px solid red;
    
    display: flex;
    flex-direction: column;
}

.adminIntroTitle{
    padding-left: 3%;
    padding-top : 10%;
    padding-bottom: 1.2%;

    font-size: 20px;
    font-weight: 700;
}


/*************************************************
                      nav 바
*************************************************/
/*nav바 13% 위치*/
nav{
    flex-basis: 13%;

    border : 2px solid palevioletred;

    /* position: sticky; */

}

nav li{
    padding : 15px 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*나중에는 맨 위로 올리기 */
a{
    color : black;
    cursor: pointer;
}

/*일단 a 태그인거 hover하면 색 변하게..*/
a:hover{
    color : red;
}

/*************************************************
                후원내역 (관리자) 검색창
*************************************************/
/*검색창 영역*/
.adminDonationSearchArea{
    flex-basis: 10%;

    padding : 20px 25px;
    display: flex;
    justify-content: end;

    border : 2px solid blue;
}

/*입력창 CSS */
.adminSearch{
    width: 250px;

    /* flex-basis: 92%; */
    padding : 4px;

    display: flex;
 }

 /*input border 없애기*/
.applyInput{
    /* width: 100%; */
    flex-basis: 92%;
    border-radius: 10px;
    border : none; 
    outline : 0;

    font-size: 12px;
}

 #searchBtn{
    flex-basis: 8%;

    line-height: 15px;
    font-size: 1em;
    border-radius: 0px 5px 5px 0px   ;
    border: none;
    background-color: white; /* transparent : 투명 */
    color: #FF9A62;
    padding : 3px 0px;
    padding-right: 7px;

    cursor: pointer;
 }

/*************************************************
                후원 내역 (관리자) Content
*************************************************/
.adminContentArea{
    flex-basis: 70%;

    display: flex;

    border : 2px solid pink;
}

/*nav바 13% 위치*/
.adminContentContainer{
    flex-basis: 87%;

    display: flex;
    flex-direction: column;

    border : 2px solid yellow;
}

/*************************************************************
                후원 내역 (관리자) Content - 페이지네이션
**************************************************************/
/*내용 영역*/
.adminDonationContainer{
    flex-basis: 90%;

    border : 2px solid green;
    
}

.donationTable{
    padding : 10px 15px;
    border : 2px solid red;
}

.donationTable thead{

    padding : 2px solid red;
    
}


.donationTheadTr  th{
    border : 2px solid blue;


    padding : 20px 10px;

}





