*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}

footer {
    background-color: #F9C9B0;
    padding-top: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    width: 100%;
    height: 250px;
}

.footer-content {
    text-align: left;
    /* margin-left: 100px; */
    margin: 21px 0 30px 100px;
    line-height: 25px;
}

footer p {
    display: inline;  
    margin-right: 20px;
    font-size: 12px;
}

#phone-img{
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}