header{
	position:sticky;
    top : 0px;
    width: auto;
    height: 70px;
    display: flex;
}

.header-img{
	flex-basis: 15%;

	padding-top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-img > img{

    width: 200px;
    height: 85px;
	
}

.header-bar {
	flex-basis: 85%;
    width: 1600px;
    height: 70px;
    background-color: #FEE4D6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    z-index: 1000;
    font-weight: bold;
}


.menu-items {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu-items li a {
    color: black;
    text-decoration: none;
    /* padding: 14px; */
    padding:25px 14px;
    white-space: nowrap;
    transition: color 0.3s, transform 0.3s;
}

.menu-items > li a:hover {
    color: goldenrod;
    /* transform: scale(1.40); */
}


/*************************************************
                드롭 메뉴 
*************************************************/

*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'NanumGothic', 'sans-serif';
}

.header-bar ul ul {
    /* display: none; */
    /* background-color: #ddd; */
    /* background-color: red; */
    /* border : 0.5px solid #ddd; */
    /* border-top :0px; */
    height:auto;
    position:absolute;
    width:140px;
    z-index:200;

    border-radius: 0px 0px 10px 10px;
    list-style:none;

    margin-top:25px;
    margin-left:-15px;

	/* transition-property: all;
    transition-duration: 5s; */
    height: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
}

.header-bar li li{
    /* background: yellow; */
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:135px;

    display: flex;
    justify-content: center;

    /* border : 2px solid blue; */
}

.menu-items li li a {
    color: black;
    text-decoration: none;
    padding:7px;
    white-space: nowrap;

    font-weight:400 ;
}

.header-bar li:hover ul{
    display:block;
    /* transition-timing-function: linear; */
    height: 100%;
    width:140px;
    overflow:hidden;
    border : 0.5px solid #ddd;
    border-top:0px;
}

